body {
	font-family: "Open Sans", sans-serif;
}
.no-gutter {
	margin: 0 !important;
	padding: 0 !important;
}

#schedule-rooms .room {
	    float: left;
    width: 300px;
    text-align: center;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    text-transform: uppercase;
}
#schedule-rooms {
	padding-top: 20px;
}
#schedule-timeslots .timeslot {
	height: 40px;
	text-align: right;
}
#schedule-timeslots .timeslot span {
	display: inline-block;
	/*width: 50px;*/
	line-height: 30px;
	line-height: 1;
}
// #schedule-timeslots .timeslot:nth-child(4n + 6) span {
// 	border-bottom: 1px solid #ff3232;
// }

#schedule-timeslots .timeslot:nth-child(4n + 6) {
    border-bottom: 1px solid #840101;
}

#schedule-timeslots {
	   color: #868686;
    padding-right: 1rem !important;
    background-color: #1f1f1f;
    font-weight: 400;
    font-size: 14px;
}
#schedule-topic {
	position: relative;
}

#schedule-topic .topic {
	 /* background-color: rgba(255, 49, 49, 0.8);*/
    color: white;
    padding: 0.5em;
        opacity: 0.8;
    font-weight: 600;
    font-size: 13px;
    transition: all 0.3s ease-out;
    transition: opacity 0.3s ease-in;
   
}
#schedule-topic .topic .content {
	height: 100%;
	padding: 0 1rem 1rem;
}

#schedule-wrapper {
	overflow-x: scroll;
	overflow-y: hidden;
}

#schedule-plan {
	    background-color: #f7f7f7;
}

.filter-out {
	opacity: 0.05 !important;
}
.filter-in {
	opacity: 1 !important;
	// left: 0 !important;
}